@{
    PageData["title"] = "Acerca de Nosotros";
}
<link class="cssdeck" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.1.1/css/bootstrap.min.css">
<link href="//netdna.bootstrapcdn.com/bootswatch/2.3.0/amelia/bootstrap.min.css" rel="stylesheet">

<div class="container">
    <div class="hero-unit">
        <div>
            <h1>
                Historia
            </h1>
            <br>
            <p>
                
                La empresa inicio sus actividades en el año 2010, siendo así una compañía relativamente joven pero con mucho talento en el mercado competitivo actual. Fue fundada por Rosseling Rodriguez, gerente propietaria actual.
                Rodriguez Access nace con la idea de traer al mercado ideas innovadoras que puedan suplir todas aquellas necesidades y gustos que mantienen a toda la población a la expectativa, siempre tratando de darle a sus productos un giro hacia la parte ecológica que importa a toda la sociedad.
                <br>
                <br>
                La compañía Rodriguez Access en cuanto a Capital Humano respecta; inicio con 25 colaboradores pero ya en la actualidad cuenta con 110 personas; cada una de ellas cumpliendo diferentes tareas que han hecho de esta empresa una de éxito.
                <br>
                <br>
                Rodriguez Access ha mantenido sus operaciones en una de los importantes Zonas Libres Industriales del país, como ser ZIP BÚFALO, ubicada a la salida Sur de San Pedro Sula.
                <br>
                <br>
                Las oficinas administrativas de la compañía se encuentran en Barrio Los Andes, Edificio Katya Reyes 10 ave. Entre 8 y 9 calle a media cuadra de la conocida Vica Televisión en San Pedro Sula, Cortes.
                <br>
                <br>
                <br>
            </p>
            <center><img src="/Images/EMPRENDEDURISMO.jpg" ></center>
    <div class="row">
        <div class="span5">
            <div>
                <p>
                    
                </p>
            </div>

        </div>
        <div class="span5">
            <div>

                <p>
                    
                </p>
            </div>

        </div>


    </div>

    <div class="row">


        <div class="span5">
            <div>

                <p>
                    
                </p>
            </div>

        </div>
        <div class="span5">
            <div>

                <p>
                    
                </p>
            </div>

        </div>
    </div>
</div>
    </div>
    
    

    <hr>
    <div>
        © Company 2012
    </div>
</div>