@{
    PageData["title"] = "Contactanos";
}
<link class="cssdeck" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.1.1/css/bootstrap.min.css">

<link href="//netdna.bootstrapcdn.com/bootswatch/2.3.0/amelia/bootstrap.min.css" rel="stylesheet">


<div class="container">
    <div class="hero-unit">
        <div>
            <h1>
                Oficinas Administrativas
            </h1>
            <br>
            <p>
                Edificio Katya Reyes 10 avenida entre 
                8 y 9 calle, media cuadra de Vica 
                Televisión Barrio Los Andes, San 
                Pedro Sula, Cortes, Honduras.
            </p>
            <center><img src="/Images/direccion1.jpg"></center>
            <br>
            <p>
                Y Área operacional de la compañía, ZIP BÚFALO, Villanueva, Honduras.
            </p>

            <center><img src="/Images/DIRECCION2.jpg"></center>
            

            <br>
            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                <form role="form">
                    <h2>¿Sugerencias o Preguntas?</h2>
                    <hr class="colorgraph">


                    <div class="form-group">
                        <input type="text" name="text" id="name" class="form-control input-lg" placeholder="Correo electronico para poder contactarte" tabindex="4">
                        <input type="text" name="text" id="description" class="form-control input-lg" placeholder="Sugerencias" tabindex="6">
                    </div>



                    <hr class="colorgraph">
                    <div class="row">
                        <div class="col-xs-12 col-md-6"><input type="submit"   class="btn btn-primary btn-block btn-lg" tabindex="7" ></div>

                        <div class="col-md-12">

                        </div>


                    </div>


                </form>
            </div>
        </div>
        <div class="container" ng-app="app.controllers">

            <div class="row" style="margin:100px">
                
            </div>
            <!-- Modal -->

        </div>


    </div>
    
    
    
    <div>
        © Company 2012
    </div>
</div>