<link class="cssdeck" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.1.1/css/bootstrap.min.css">

<link href="//netdna.bootstrapcdn.com/bootswatch/2.3.0/amelia/bootstrap.min.css" rel="stylesheet">



<div class="container">
    <div class="hero-unit">
        <div >
            <center><img src="/Images/logotipo.png" style="width:1309px;height:600px"></center>
            <h1>
                Rodriguez Access
            </h1>
            <br>
            <p>
                Bienvenidos
                Aquí podrás encontrar accesorios útiles para tu oficina,
                universidad, escuela y hogar!! Aprovecha esta época del
                año para poder adquirir todo lo que quieras con nuestros
                grandiosos Descuentos!!
            </p>
            <div class="row" >
                <div class="span5">
                    <div>
                        
                        <p>
                            <img src="/Images/usb1.jpg" alt="USB">
                        </p>
                    </div>
                    
                </div>
                <div class="span5">
                    <div>
                        
                        <p>
                            <img src="/Images/usb2.jpg" alt="USB" >
                        </p>
                    </div>
                    
                </div>
                
                
            </div>
            
            <div class="row">
                
                
                <div class="span5">
                    <div>

                        <p>
                            <img src="/Images/pen2.jpg" alt="USB">
                        </p>
                    </div>

                </div>
                <div class="span5">
                    <div>

                        <p>
                            <img src="/Images/usb3.jpg" alt="PEN">
                        </p>
                    </div>

                </div>
            </div>



        </div>
        
    </div>
    <div class="row">
        <div class="span4">
            <div>
                <h2>
                    ¿Quienes somos? 
                </h2>
                <p>
                    Somos una compañía encargada de traer al 
                    mercado productos innovadores que sepan 
                    satisfacer las necesidades del mercado actual.
                    Nuestra labor se concentra en surtir al mercado 
                    productos innovadores que puedan cumplir todas 
                    las expectativas de nuestros clientes.
                </p>
            </div>
            <a class="btn" href="/acercadenosotros">
                Lee Mas »
            </a>
        </div>
        <div class="span4">
            <div>
                <h2>
                    ¿Que hacemos?
                </h2>
                <p>
                    Nos encargamos de la elaboración,
                    ensamblaje y distribución de nuestra propia 
                    línea de bolígrafos y a la vez redistribución 
                    de producto ya elaborado.
                </p>
            </div>
            
        </div>
        <div class="span4">
            <div>
                <h2>
                    
                </h2>
                <p>
                    
                </p>
            </div>
            
        </div>
    </div>
    <hr>
    <div>
        © Company 2012
    </div>
</div>