@{
    Layout = null;
}

<div class="container">
    <div class="row" >
        <div class="col-md-6" ng-repeat="organization in organizations">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-xs-3 col-md-3 text-center">
                        <img src="https://scontent-b-mia.xx.fbcdn.net/hphotos-prn2/t1.0-9/1912368_10151976939107844_450876331_n.jpg" alt="bootsnipp"
                             class="img-rounded img-responsive" />
                    </div>
                    <div class="col-xs-9 col-md-9 section-box">
                        <a href="/boards/{{organization.Id}}">
                            <h2>
                                {{organization.Name}}
                            </h2>
                        </a>

                        <p>
                            {{organization.Description}}
                        </p>


                        <hr />
                        <div class="row rating-desc">
                            <div class="col-md-12">
                                <button type="button" class="btn btn-labeled btn-danger">
                                    <span class="btn-label"><i class="glyphicon glyphicon-trash"></i></span>Trash
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


