@{
    Layout = null;
}
<form class="form-inline" role="form" ng-app="app.controllers">
    <div class="form-group">
        
        <input ng-model=" NewOrganizationModel.Name" type="text" class="form-control" id="name" placeholder="Name">
        <input ng-model=" NewOrganizationModel.Description" type="text" class="form-control" id="name" placeholder="Description">
    </div>
    <button type="submit" class="btn btn-default" ng-click="CreateOrganizationsForLoggedUser()">Add new organization</button>
</form>
<br>
<div class="container">
    <div class="row" >
        <div class="col-md-6" ng-repeat="organization in organizations">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-xs-3 col-md-3 text-center">
                        <img src="https://scontent-b-mia.xx.fbcdn.net/hphotos-prn2/t1.0-9/1912368_10151976939107844_450876331_n.jpg" alt="bootsnipp"
                             class="img-rounded img-responsive" />
                    </div>
                    <div class="col-xs-9 col-md-9 section-box">
                        <a href="/boards/{{organization.Id}}">
                            <h2>
                                {{organization.Name}}
                            </h2>
                        </a>

                        <p>
                            {{organization.Description}}
                        </p>


                        <hr />
                        <div class="row rating-desc">
                            <div class="col-md-12">
                                <button type="button" class="btn btn-labeled btn-danger" ng-click="DeleteOrganization(organization.Id)">
                                    <span class="btn-label"><i class="glyphicon glyphicon-trash"></i></span>Trash
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


