<connectionStrings>
  <add name="MiniTrello.Local" connectionString="Data Source=(localdb)\Projects;Initial Catalog=MiniTrelloDB;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"/>
  <add name="MiniTrello.Remote" connectionString="Server=cd084383-7ca3-4890-95a3-a2dd005ad525.sqlserver.sequelizer.com;Database=dbcd0843837ca3489095a3a2dd005ad525;User ID=wtfhlammjondnlrp;Password=kknB44uJDbBA4sUAhVso7r5Bg8F68WsZCvwcmx78yKWzEcHdWeaThzM3oSu4vxKQ;"/>
</connectionStrings>