<connectionStrings>
  <add name="MiniTrello.Local" connectionString="Data Source=(localdb)\Projects;Initial Catalog=MiniTrelloDB;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"/>
  <add name="MiniTrello.Remote" connectionString="Server=07449af2-d88b-444d-8449-a2dd00846cb5.sqlserver.sequelizer.com;Database=db07449af2d88b444d8449a2dd00846cb5;User ID=ccgkynbcpbvpwfcn;Password=QFFGvNhbsCNbe765ZPfNjNtUdgZeEAnPstN8aqpy6ofDZcbNg5TkgyvbmTDoVcCZ;"/>
</connectionStrings>